<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- Enable @AspectJ support -->
	<aop:aspectj-autoproxy />

	<bean id="cacheManager" class="br.com.bradesco.web.aq.application.cache.impl.CacheManagerImpl">
		<property name="objectManager" ref="objectManager" />
		<property name="logManager" ref="logManager" />
	</bean>

	<bean id="autoCacheAspect" class="br.com.bradesco.web.aq.application.aspects.AutoCacheAspect">
		<property name="logManager" ref="logManager" />
		<property name="cacheManager" ref="cacheManager" />
	</bean>

</beans>